body {
  background-color: #314D22;
  color: #f5DBBA;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0;
  padding: 40;
  line-height: 1.7;
}

h1 {
  padding: 35px;
  text-align: center;
  margin: 0 auto 18px auto;
  max-width: 950px
  letter-spacing: 1px;
  background-color: #4E6952;
  color: #ECF2E9;
}

h2, h3 {
  text-align: center;
}
