body {
  background-color: #0f1411;
  color: #f5DBBA
  font-family: "Times New Roman", Times, serif;
}

h1 {
  border: 2px solid #333;
  padding: 35px;
  text-align: center;
  background-color: #4E6952;
}

h2, h3 {
  text-align: center;
}
