/*  Base Page  */

body {
  background-color: #141F18;
  color: #f5DBBA;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 40px;
  line-height: 1.7;
}

/* Center the site */
.page {
  max-width: 1000px;
  margin: 0 auto;
}

/*  Header */

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  padding: 35px;
  text-align: center;
  margin: 0 auto 18px auto;
  max-width: 800px;

  letter-spacing: 3px;
  background-color: #4E6952;
  color: #EBCBA2;

  font-size: 56px;
  position: relative;
  box-shadow: -10px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin: 0 auto 28px auto;
  max-width: 800px;

  font-size: 22px;
}

/* Navigation */

nav {
  text-align: center;
  margin-bottom: 30px;
}

.nav li {
  display: inline-block;
  margin: 0 12px;
}

.nav a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

  color: #f5DBBA;
  background-color: #2A352B;

  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #4E6952;

  display: inline-block;
  transition: background-color 0.2s ease;
}

.nav a:hover {
  background-color: #4E6952;
  color: #EBCBA2;
  
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

  animation: navBounce 1.2s ease;
}

/* Image */

.hero-image {
  display: block;
  width: 100%;
  max-width: 750px;

  margin: 0 auto 35px auto;
  border: 4px solid #4E6952;
  border-radius: 10px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.35);
}

/* chapters */

.chapter {
  margin-bottom: 45px;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
 
  padding: 18px 22px;
  letter-spacing: 2px;

  background-color: #4E6952;
  color: #EBCBA2;

  font-size: 16px;
  border-radius: 8px;

  text-align: left;
  margin: 0 0 12px 0;
  max-width: 420px;
}

/* Paragraph */

p {
  font-family: 'Times New Roman', Times, serif;
  background-color: #1B2A1E;
  padding: 20px;

  border-left: 5px solid  #4E6952;
  border-radius: 9px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.20);

  margin: 0 0 20px 0;
  max-width: 100%;
}

/* Footer */

.footer-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #EBCBA2;

  text-align: center;

  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  max-width: none;
  
 
}

/* nav bounce animation */

@keyframes navBounce {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-8px);
  }

  60% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0);
  }
}